function parseAddr(provinceName, cityName, countryName){

  var arr = [];
  if(provinceName){
    arr.push(provinceName);
  }
  if(cityName){
    arr.push(cityName);
  }
  if(countryName){
    arr.push(countryName);
  }
  return arr.join(" > ");
}

function map(list, field){
  var finalList = [];
  for(var i=0; i<list.length; i++){
    var item = list[i];
    finalList.push(item[field]);
  }
  return finalList;
}

function isNullStr(str){
  return str == null || str.toLocaleUpperCase() == "NULL";
}

module.exports = {
  parseAddr : parseAddr,
  map: map,
  isNullStr:isNullStr
}