function parseAddr(provinceName, cityName, countryName){

  var arr = [];
  if(provinceName){
    arr.push(provinceName);
  }
  if(cityName){
    arr.push(cityName);
  }
  if(countryName){
    arr.push(countryName);
  }
  console.log("arr", arr);
  return arr.join(" > ");
}

module.exports = {
  parseAddr : parseAddr
}